body
 font-size 14px

.navbar .site-name
  font-size 1.25rem !important

.home .feature h2
  font-size 1.25rem !important

.home .hero h1
  font-size 1.75rem !important
  margin-top: 3rem !important
  font-weight 500 !important

.home .hero .description
  font-size 1.25rem !important

.home .hero .action-button
  font-size 1rem !important
  padding 0.4rem 1.2rem !important

.home .features
  justify-content center
  text-align center

.home .hero img
  height 200px

.sidebar-heading
  display flex
  justify-content space-between
  align-items center

a.sidebar-link
  border-left 0 none !important
  border-right 0.25rem solid transparent

a.sidebar-link.active
  border-right-color #2196f3

h1
  font-size 1.8rem !important

h2
  font-size 1.325rem !important

h3
  font-size 1.1625rem !important

h4
  font-size 1rem !important

h5
  font-size 0.875rem !important

li
  line-height 2.25

.theme-default-content:not(.custom) img
  max-width: 90% !important
  margin-left: auto
  margin-right: auto

div[class*="language-"].line-numbers-mode pre
  white-space: break-spaces